body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

a {
    display: block;
    margin: 5px;
    padding: 5px;
    max-width: 500px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}